.benefits {



  &__container {
    position: relative;
    border: 2px solid $colorRed;
    border-radius: 20px;
    padding: 60px 16px 32px 16px;
    margin-top: 40px;

    @include xx-min {
      padding: 60px 22px 32px 22px;

    }

    @include md-min {
      padding: 80px 76px 36px 76px;
      border-radius: 12px;
    }

    @include lg-min {
      max-width: 800px;
      padding: 80px 120px 36px 120px;
      margin-top: 60px;

    }

    @include xl-min {
      padding-bottom: 60px;
      max-width: 862px;
    }

    @include ul-min {
      max-width: 1150px;
      padding: 100px 194px 80px 194px;
    }

  }

  &__decor {
    position: absolute;
    border-radius: 40px;
    padding: 36px;
    top: -41px;
    max-width: 80px;
    border: 2px solid $colorRed;
    clip-path: circle(72% at 50% 0);
    background-color: $colorMain;
    left: 50%;
    transform: translateX(-50%);

    @include lg-min {
      border-radius: 50px;
      padding: 44px;
      top: -49px;
    }

    @include ul-min {
      border-radius: 60px;
      padding: 54px;
      clip-path: circle(65% at 50% 0);
    }
  }

  &__img {
    position: absolute;
    max-width: 40px;
    height: auto;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);

    @include md-min {
      max-width: 46px;
    }

    @include lg-min {
      max-width: 54px;
      top: -26px;
    }

    @include xl-min {}

    @include ul-min {
      max-width: 72px;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 240px;
    margin: 0 auto;

    @include md-min {
      flex-direction: row;
      margin-bottom: 20px;
      justify-content: space-around;
      gap: 40px;
      max-width: 100%;
    }

    @include lg-min {
      justify-content: space-between;
    }

    @include xl-min {
      justify-content: center;
      gap: 80px;
    }

    @include ul-min {
      justify-content: space-between;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 16px;
    color: $colorWhiteLight;

    span {
      font-size: 67px;
      line-height: 67px;
      color: $colorRed;
      font-weight: 600;

      @include ul-min {
        font-size: 90px;
        line-height: 90px;
      }
    }

    @include ul-min {
      font-size: 20px;
    }
  }

  &__desc {
    text-align: center;
    margin-bottom: 20px;
    color: $colorWhite;
    max-width: 200px;
    font-size: 15px;
    line-height: 21px;
    Opacity: 0.8;

    @include md-min {
      font-size: 16px;
    }

    @include ul-min {
      font-size: 20px;
      line-height: 28px;
      max-width: 260px;
    }
  }

  &__listItem {
    font-size: 15px;
    line-height: 18px;
    color: $colorWhite;
    margin-bottom: 20px;
    padding-left: 40px;
    font-weight: 500;
    background-image: url(../../images/icon-tick.svg);
    background-position: 0px -2px;
    background-size: 24px;
    background-repeat: no-repeat;

    @include lg-min {
      font-size: 18px;
      line-height: 22px;
    }

    @include xl-min {
      font-size: 20px;
      line-height: 24px;
      font-weight: 400;
    }

    @include ul-min {
      font-size: 26px;
      line-height: 32px;
      background-size: 32px;
      padding-left: 54px;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include md-min {
      justify-content: center;
      flex-direction: row;
    }
  }

  &__email {
    background-color: $colorGrey ;
    width: 100%;
    height: 54px;
    padding: 16px;
    border-radius: 5px;
    font-size: 15px;
    text-transform: capitalize;
    opacity: 0.9;
    margin-bottom: 16px;
    margin-top: 16px;
    transition: 0.4s;

    &:hover {
      background-color: $colorWhite;
    }

    @include xx-min {
      font-size: 17px;

    }

    @include md-min {
      border-radius: 5px 0 0 5px;
      margin-bottom: 0;
      margin-top: 0;
      width: 55%;
    }

    @include lg-min {
      font-size: 18px;

    }

    @include ul-min {
      font-size: 22px;
      height: 69px;
    }
  }

  &__btn {
    width: 100%;
    height: 54px;
    padding: 16px;
    border-radius: 5px;
    font-size: 15px;
    background-color: $colorRed;
    color: $colorWhite;
    font-weight: 600;
    font-size: 15px;
    transition: 0.4s;

    &:hover {
      color: $colorBlack;
    }

    @include xx-min {
      font-size: 18px;
    }

    @include md-min {
      border-radius: 0 5px 5px 0;
      font-size: 17px;
      width: 45%;
      font-weight: 500;

    }

    @include lg-min {
      font-size: 18px;
    }

    @include ul-min {
      font-size: 22px;
      height: 69px;
    }
  }
}