.channels {
  position: relative;
  z-index: 20;

  &__dec {
    position: absolute;
    top: -50%;
    z-index: -20;
    height: 200%;
  }

  &__decorWeb {
    position: absolute;
    z-index: -20;
    top: 30%;
    left: -5px;
    width: 190px;
    height: 350px;

    @include md-min {
      width: 290px;
      height: 540px;
      top: 25%;

    }

    @include lg-min {
      width: 420px;
      height: 750px;
      top: 0;
      left: -20px;

    }

    @include xl-min {
      height: 900px;
      width: 500px;
    }

    @include ul-min {
      height: 1000px;
      width: 650px;
      left: -60px;
    }
  }

  &__container {
    padding-top: 100px;
    margin-bottom: 20px;

    @include md-min {
      padding-top: 130px;
      margin-bottom: 60px;
    }

    @include lg-min {
      margin-bottom: 80px;
    }

    @include xl-min {
      padding-top: 160px;
    }
  }

  &__titleWrap {
    display: flex;
    justify-content: center;

    @include md-min {
      justify-content: start;
    }
  }

  &__title {
    position: relative;
    text-align: center;
    display: inline-block;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: $colorWhite;
    margin-bottom: 10px;



    @include xx-min {
      font-size: 28px;
      line-height: 40px;
      margin-bottom: 14px;
    }

    @include md-min {
      text-align: left;
      font-size: 30px;
      line-height: 42px;
      margin-bottom: 20px;
    }

    @include lg-min {
      font-size: 36px;
      line-height: 50px;
    }

    @include xl-min {
      font-size: 40px;
      line-height: 56px;

    }

    @include ul-min {
      font-size: 52px;
      line-height: 72px;
      margin-bottom: 30px;
    }

  }

  &__decor {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 40px;
    height: auto;

    @include md-min {
      width: 48px;
      top: -50px;
      right: -60px;
    }

    @include ul-min {
      width: 50px;
    }
  }

  &__desc {
    font-size: 15px;
    line-height: 22px;
    color: $colorWhite;
    text-align: center;
    margin-bottom: 20px;
    opacity: 0.7;

    @include xx-min {
      font-size: 16px;
      margin-bottom: 30px;
    }

    @include md-min {
      text-align: left;
      margin-bottom: 36px;
      max-width: 510px;
      line-height: 24px;
    }

    @include lg-min {
      max-width: 600px;

    }

    @include ul-min {
      font-size: 20px;
      line-height: 30px;
      max-width: 840px;
      margin-bottom: 46px;

    }
  }

  &__innerBtn {
    display: flex;
    margin-bottom: 24px;
    gap: 8px;

    @include xx-min {
      gap: 16px;
    }

    @include md-min {
      margin-bottom: 40px;
      gap: 24px;

    }

    @include xl-min {
      gap: 15px;

    }

    @include ul-min {
      gap: 30px;
      margin-bottom: 52px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    border: 2px solid $colorWhite;
    border-radius: 5px;
    padding: 8px 16px;
    width: 144px;
    min-height: 40px;
    color: $colorWhite;
    font-size: 15px;
    transition: 0.4s;
    cursor: pointer;

    &:hover {
      border: 2px solid $colorAccent;
      color: $colorAccent;
    }

    &_active {
      background-color: $colorAccent;
      border: none;
      font-size: 16px;
      transition: 0.4s;

      &:hover {
        border: none;
        color: $colorWhite;
      }
    }


    @include md-min {
      width: 154px;
      min-height: 48px;
      padding: 12px 18px;
      font-size: 16px;
    }

    @include ul-min {
      font-size: 20px;
      line-height: 30px;
      width: 194px;
      min-height: 62px;
      padding: 16px 24px;

    }
  }

  &__wrap {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    margin-bottom: 18px;



    @include xx-min {
      margin-bottom: 24px;
    }

    @include md-min {
      grid-template-columns: repeat(4, 1fr);
      gap: 32px 24px;
    }

    @include lg-min {
      grid-template-columns: repeat(5, 1fr);
      gap: 32px 24px;
    }

    @include xl-min {
      gap: 32px 50px;
    }

    @include ul-min {
      gap: 50px 70px;
    }

  }

  &__item {
    width: 100%;
  }


  &__item-film {
    display: none;

    @include md-min {
      display: block;
    }
  }

  &__item-tet {
    display: none;

    @include lg-min {
      display: block;
    }
  }

  &__item-ictv {
    @include xl-min {
      display: block;
    }
  }

  &__item-m1 {
    display: none;

    @include md-min {
      display: block;
    }
  }

  &__item-2plus2 {
    display: none;

    @include lg-min {
      display: block;
    }
  }

  &__showAll {
    position: relative;
    display: block;
    cursor: pointer;
    text-align: right;
    padding-right: 30px;
    color: $colorWhite;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;

  }

  &__icon {
    position: absolute;
    top: -2px;
    right: 0;
  }
}