.footer {
  position: relative;
  z-index: 20;
  overflow: hidden;


  &__dec {
    position: absolute;
    bottom: 0;
    z-index: -20;
    height: 60%;
    left: -70%;

    @include xx-min {
      left: 0;
    }

    ;

    @include md-min {
      width: 100%;
      height: 100%;
    }

  }



  &__decorTree {
    position: absolute;
    bottom: 10px;
    left: -240px;
    z-index: -20;
    height: 500px;

    @media (min-width: 500px) {
      height: 450px;
      left: -180px;

    }

    @include md-min {
      left: -150px;
    }

    @include lg-min {
      left: -50px;

    }

    @include ul-min {
      height: 600px;
    }
  }

  &__decorGrass {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    z-index: -20;

    @include lg-min {
      height: 96px;
    }
  }

  &__decorPamb {
    position: absolute;
    bottom: 24px;
    z-index: -10;
    right: -168px;
    height: 75px;

    @include md-min {
      right: 20px;
    }

    @include lg-min {
      bottom: 40px;
      height: 90px;
    }

    @include lg-min {
      right: 40px;
    }
  }

  &__inner {
    @include sm-min {
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }
  }

  &__menuList {
    margin-bottom: 30px;
    position: relative;



    @include xx-min {
      columns: 2;
      margin-bottom: 40px;
    }

    @include lg-min {}
  }

  &__menuItem {
    color: $colorWhite;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    opacity: 0.8;
    margin-bottom: 8px;
    transition: 0.4s;

    &:hover {
      color: $colorAccent;
    }

    @include xx-min {
      max-width: 160px;
    }

    @include md-min {
      margin-right: 30px;
    }

    @include lg-min {
      margin-right: 100px;
    }

    @include ul-min {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 12px;
      max-width: 260px;
    }
  }

  &__contactsTitle {
    font-weight: 600;
    color: $colorWhite;
    margin-bottom: 20px;
    position: relative;



    @include xx-min {
      margin-bottom: 24px;
    }

    @include ul-min {
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__innerContacts {
    margin-bottom: 20px;

    @include xx-min {
      margin-bottom: 40px;
    }
  }

  &__wrapContacts {

    @include xx-min {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }

    @include md-min {
      display: flex;
      flex-direction: column;
    }
  }

  &__tel {
    color: $colorWhite;
    font-size: 14px;
    margin-bottom: 12px;
    opacity: 0.8;
    display: block;
    transition: 0.4s;

    &:hover {
      color: $colorAccent;
    }

    @include ul-min {
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__email {
    color: $colorWhite;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    opacity: 0.8;
    display: block;
    transition: 0.4s;

    &:hover {
      color: $colorAccent;
    }

    @include ul-min {
      font-size: 18px;
      line-height: 26px;
    }

  }

  &__chatTitle {
    color: $colorWhite;
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 12px;

    @include ul-min {
      font-size: 18px;
      line-height: 26px;
    }

  }

  &__chatWrap {
    display: flex;
    gap: 16px;
    margin-bottom: 28px;

    @include xx-min {
      justify-content: end;
    }

    @include xs-min {
      justify-content: start;
    }

    @include md-min {
      justify-content: start;
    }

    @include ul-min {
      gap: 24px;
    }
  }

  &__social {
    max-width: 32px;
    height: auto;
    cursor: pointer;

    @include ul-min {
      max-width: 40px;

    }
  }

  &_iconBanks {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 25px;
    justify-content: center;
    margin-bottom: 26px;
    position: relative;



    @include xx-min {
      margin-bottom: 36px;
    }

    @include md-min {
      justify-content: start;
      margin-bottom: 20px;

    }
  }

  &__banks {
    max-height: 32px;

    @include ul-min {
      max-height: 40px;
    }
  }

  &__copyright {
    padding-bottom: 20px;

    @include md-min {
      display: flex;
      gap: 20px;
      justify-content: end;
      align-items: center;
    }

    @include ul-min {
      gap: 24px;
    }
  }

  &__copyrightText {
    position: relative;
    color: $colorWhite;
    opacity: 0.8;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 2px;

    @include ul-min {
      font-size: 15px;
      line-height: 22px;
    }
  }

  &__copyrightDecor {
    display: none;

    @include md-min {
      display: block;
      position: absolute;
      top: 5px;
      left: -12px;
    }

    @include ul-min {
      top: 8px;
      left: -14px;
      width: 6px;
      height: 6px;
    }
  }
}