.header {
  overflow: hidden;
  position: relative;
  z-index: 10;

  &__dec {
    position: absolute;
    height: 600px;

    z-index: -20;

    @include xs-min {
      height: 500px;

    }

    @include xx-min {
      top: 0%;
      height: 700px;
    }

    @include md-min {
      height: auto;
      top: -90%;
    }

    @include lg-min {
      top: -50%;
    }

    @include xl-min {
      top: -30%;
    }
  }

  &__mainBg {
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 700px;
    height: 350px;
    z-index: -10;

    @include xs-min {
      min-width: 800px;
      height: 500px;
    }

    @include md-min {
      width: 1200px;
      height: 600px;
      bottom: -50%;
    }


    @include lg-min {
      width: 1700px;
      height: 900px;
      bottom: -70%;
    }

    @include xl-min {
      width: 2000px;
      height: 1000px;

    }

    @include ul-min {
      width: 2300px;
      height: 1300px;
    }

  }

  &__container {
    padding-top: 16px;
    margin-bottom: 40px;

    @include xx-min {
      padding-top: 24px;
    }

    @include lg-min {
      margin-bottom: 80px;
    }

    @include xl-min {
      margin-bottom: 120px;
    }

    @include ul-min {
      margin-bottom: 140px;
    }
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;



    @include xx-min {
      margin-bottom: 36px;
    }

    @include md-min {
      margin-bottom: 40px;
    }
  }

  &__bannerInner {
    display: grid;
    grid-template-areas:
      "title"
      "photo"
      "desc"
      "btn";

    @include md-min {
      grid-template-columns: repeat(2, 62% 38%);
      grid-template-areas:
        "title photo"
        "desc photo"
        "btn photo";
    }

    @include lg-min {
      grid-template-columns: repeat(2, 52% 48%);

    }
  }

  &__bannerWrap {
    grid-area: wrap;
  }

  &__title {
    position: relative;
    font-size: 24px;
    font-weight: 600;
    color: $colorWhite;
    text-align: center;
    line-height: 29px;
    letter-spacing: 0.1px;
    grid-area: title;
    margin-bottom: 16px;





    @include xx-min {
      font-size: 28px;
      line-height: 34px;
      letter-spacing: 0.4px;
    }

    @include md-min {
      font-size: 32px;
      line-height: 38px;
      text-align: left;
      align-self: center;
      margin-bottom: 0;
    }

    @include lg-min {
      font-size: 38px;
      line-height: 46px;
    }

    @include xl-min {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 16px;
    }

    @include ul-min {
      font-size: 56px;
      line-height: 68px;
    }
  }

  &__bannerImg {

    margin-left: -8px;
    max-width: 100%;
    height: auto;
    grid-area: photo;
    margin-bottom: 20px;

    @include xx-min {
      margin-left: 0;
      padding-right: 40px;
    }

    @include md-min {
      padding-right: 0;
      min-width: 530px;
      margin-bottom: 0;
    }

    @include lg-min {
      min-width: 590px;
      margin-left: 20px;
    }

    @include xl-min {
      min-width: 660px;
    }

    @include ul-min {
      min-width: 900px;
    }
  }

  &__desc {
    font-size: 15px;
    color: $colorWhite;
    text-align: center;
    line-height: 22px;
    margin-bottom: 24px;
    letter-spacing: 0.1px;
    grid-area: desc;
    opacity: 0.8;

    @include xx-min {
      font-size: 16px;
      margin-bottom: 30px;
    }

    @include md-min {
      font-size: 17px;
      margin-bottom: 20px;
      text-align: left;
      align-self: start;
      margin-right: 10px;
      margin-bottom: 0;
    }

    @include lg-min {
      font-size: 18px;
      line-height: 26px;
    }

    @include xl-min {
      font-size: 20px;
      line-height: 28px;
    }

    @include ul-min {
      font-size: 26px;
      line-height: 36px;
    }
  }

  &__btn {
    background-color: $colorAccent;
    color: $colorWhite;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    padding: 14px;
    border-radius: 5px;
    min-height: 49px;
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-area: btn;

    transition: 0.4s;

    &:hover {
      color: $colorBlack;
    }

    @include xx-min {
      font-size: 17px;
      min-height: 56px;
    }

    @include md-min {
      width: 342px;
      height: 56px;
      margin: 0;
      align-self: start;
    }

    @include lg-min {
      font-size: 18px;
      width: 368px;
    }

    @include xl-min {
      font-size: 20px;
      width: 410px;
      height: 64px;
    }

    @include ul-min {
      font-size: 26px;
      width: 530px;
      min-height: 84px;
    }
  }

  &__logoImg {
    max-width: 56px;

    @include md-min {
      max-width: 64px;
    }

    @include lg-min {
      max-width: 72px;
    }

    @include ul-min {
      min-width: 96px;
    }
  }
}

.actions {

  display: flex;
  gap: 24px;
  align-items: center;

  &__facebook {
    display: none;

    @include md-min {
      display: block;

    }
  }

  &__icon {
    transition: 0.4s;

    &:hover {
      fill: $colorAccent;
    }

  }

  &__telegram {
    display: none;

    @include md-min {
      display: block;
      transition: 0.4s;

      &:hover {
        fill: $colorAccent;
      }
    }
  }

  &__registration {
    color: $colorWhite;
    font-weight: 600;
    display: none;
    transition: 0.4s;

    &:hover {
      color: $colorAccent;
    }

    @include md-min {
      display: block;
      padding-left: 24px;
    }

    @include ul-min {
      font-size: 20px;
    }
  }

  &__enter {
    font-weight: 500;
    min-height: 40px;
    border-radius: 5px;
    border: 2px solid $colorWhite;
    padding: 10px;
    color: $colorWhite;
    min-width: 96px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.4s;

    &:hover {
      color: $colorAccent;
      border: 2px solid $colorAccent;
    }

    @include md-min {
      min-height: 44px;
    }

    @include ul-min {
      font-size: 20px;
      min-height: 60px;
      width: 126px;
    }
  }
}