.peculiarities {
  position: relative;
  z-index: 20;


  &__container {
    display: none;

    @include md-min {
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      margin-bottom: 80px;
      display: grid;
      gap: 20px;
    }

    @include lg-min {
      gap: 24px;
      align-items: start;
    }

    @include xl-min {
      gap: 46px;
      margin-bottom: 120px;

    }

    @include ul-min {
      gap: 60px;
      margin-bottom: 160px;

    }
  }


  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;

    @include lg-min {
      align-items: start;
      gap: 16px;

    }
  }

  &__imgWrap {
    max-width: 48px;
    height: auto;

    @include lg-min {
      max-width: 64px;
    }

    @include xl-min {
      max-width: 72px;
      margin-bottom: 10px;
    }

    @include ul-min {
      max-width: 96px;
      margin-bottom: 20px;

    }
  }

  &__img {
    stroke-width: 4;

    @include lg-min {
      max-width: 64px;
      stroke-width: 2.9;
    }
  }

  &__title {
    color: $colorWhite;
    text-align: center;
    max-width: 116px;
    line-height: 24px;
    font-weight: 600;
    opacity: 0.9;


    @include lg-min {
      text-align: left;
      line-height: 18px;
      max-width: 100%;

    }

    @include xl-min {
      font-size: 18px;
    }

    @include ul-min {
      font-size: 24px;
      line-height: 24px;
    }
  }

  &__desc {
    display: none;

    @include lg-min {
      display: block;
      color: $colorWhite;
      line-height: 24px;
      opacity: 0.8;
    }

    @include ul-min {
      font-size: 20px;
      line-height: 30px;
    }
  }
}