.screens {

  &__container {
    padding-top: 16px;
    margin-bottom: 50px;

    @include xx-min {
      padding-top: 44px;
    }

    @include md-min {
      padding-top: 20px;
      margin-bottom: 80px;
    }

    @include xl-min {
      margin-bottom: 120px;
    }

    @include ul-min {
      margin-bottom: 160px;
    }

  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    @include xx-min {
      margin-bottom: 36px;
    }

    @include md-min {
      margin-bottom: 10px;
    }

    @include lg-min {
      margin-bottom: 30px;
    }

    @include xl-min {
      margin-bottom: 40px;
    }
  }



  &__bannerInner {
    display: grid;
    grid-template-areas:
      "title"
      "desc"
      "photo"
      "btn";

    @include md-min {
      // align-items: center;
      grid-template-columns: repeat(2, 65% 35%);
      grid-template-areas:
        "title photo"
        "desc photo"
        "btn photo";

    }

    @include lg-min {
      grid-template-columns: repeat(2, 54% 46%);
      gap: 0 40px;
    }

    @include xl-min {
      grid-template-columns: repeat(2, 50% 50%);

    }

    @include ul-min {
      gap: 0 20px;

    }
  }

  &__bannerWrap {
    grid-area: wrap;

  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    color: $colorWhite;
    text-align: center;
    line-height: 32px;
    letter-spacing: 0.1px;
    grid-area: title;
    opacity: 0.9;
    margin-bottom: 20px;


    @include xx-min {
      font-size: 28px;
      line-height: 34px;
      letter-spacing: 0.4px;
    }

    @include md-min {
      font-size: 32px;
      line-height: 38px;
      text-align: left;
      align-self: start;
    }

    @include lg-min {
      font-size: 38px;
      line-height: 46px;

    }

    @include xl-min {
      font-size: 40px;
      line-height: 56px;
      margin-bottom: 16px;
      align-self: end;
    }

    @include ul-min {
      font-size: 52px;
      line-height: 72px;
    }
  }

  &__bannerImg {
    max-width: 100%;
    height: auto;
    grid-area: photo;
    margin-bottom: 30px;


    @include xx-min {
      margin-left: 0;
      padding-right: 40px;
    }

    @include md-min {
      padding-right: 0;
      min-width: 450px;
      margin-bottom: 0;
    }

    @include lg-min {
      min-width: 590px;
      margin-left: 20px;
    }


    @include ul-min {
      min-width: 790px;
    }
  }


  &__desc {
    font-size: 15px;
    color: $colorWhite;
    text-align: center;
    line-height: 22px;
    margin-bottom: 24px;
    letter-spacing: 0.1px;
    grid-area: desc;
    opacity: 0.8;


    @include xx-min {
      font-size: 16px;
      line-height: 24px;
    }

    @include md-min {
      margin-bottom: 20px;
      text-align: left;
      align-self: start;
      margin-right: 10px;

    }

    @include lg-min {
      margin-bottom: 10px;
      margin-right: 0px;

    }

    @include xl-min {
      margin-bottom: 26px;
      max-width: 520px;
      align-self: center;

    }

    @include ul-min {
      font-size: 20px;
      line-height: 30px;
      max-width: 610px;

    }
  }


  &__btn {
    background-color: $colorAccent;
    color: $colorWhite;
    font-size: 15px;
    margin: 0 auto;
    display: flex;
    padding: 14px;
    border-radius: 5px;
    min-height: 49px;
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-area: btn;
    transition: 0.4s;

    &:hover {
      color: $colorBlack;
    }


    @include xx-min {
      font-size: 17px;
      min-height: 56px;
    }

    @include md-min {
      width: 342px;
      height: 56px;
      margin: 0;
    }

    @include lg-min {
      font-size: 18px;
      width: 368px;
    }

    @include xl-min {
      font-size: 20px;
      width: 410px;
      height: 64px;
    }

    @include ul-min {
      font-size: 26px;
      width: 530px;
      min-height: 84px;
    }
  }
}