@import "../config/mixins-media.scss";
@import "../config/vars";


.body {
  background-color: $colorMain;
}

.container {
  width: min(100% - 32px, 1462px);
  margin-inline: auto;

  @include md-min {
    width: min(100% - 80px, 1462px);
  }

  @include lg-min {
    width: min(100% - 96px, 1462px);
  }

  @include xl-min {
    width: min(100% - 344px, 1462px);

  }
}