//colors
$colorAccent: #ebbc44;
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorWhiteLight: #ffffffd6;
$colorWhiteSuperLight: #e3e1e123;
$colorMain: #131212;
$colorPink: #E507B6;
$colorAccent: #FC3232;
$colorRed: #FF1F1F;
$colorGrey: #e9e9ea;
$colorBlue: #2196F3;
$colorBlueLight: #7AD1EC;


//fonts settings
$fontFamilyMain: 'Inter', sans-serif; // !указать здесь основное семейство шрифта
$fontWeightMain: 400; // Жирность шрифта по умолчанию
$fontColorMain: $colorBlack; // Цвет шрифта по умолчанию
$fontSizeMain: 16; // Размер шрифта по умолчанию


$transitionMain: all 280ms ease-in-out 0ms;

//media screen
$ul: 1920px;
$xl: 1440px;
$lg: 990px;
$md: 768px;
$sm: 620px;
$xs: 420px;
$xx: 375px;
$ux: 320px;